
@font-face {
    font-family:"Suisse Int'l";
    src:url("SuisseIntl-Regular.woff2") format("woff2"),url("SuisseIntl-Regular.woff") format("woff"),url("SuisseIntl-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        