
@font-face {
    font-family:"SuisseWorks-Regular";
    src:url("SuisseWorks-Regular.woff2") format("woff2"),url("SuisseWorks-Regular.woff") format("woff"),url("SuisseWorks-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        