---
---

/*
 * Fonts
 */

/*
 * Navigation
 */

/*
 * Body
 */

 body {
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 36pt;
   color: white;
   background-color: #EFECE4;
 }

 .container-fluid.wrapper {
   padding: 15px;
 }

.col {
  span {
    font-family: "Times New Roman", serif;
  }
}

#company-name {
  color: #F74C25;
}

#social-link {

}

/*
 * Footer
 */
