---
---

/*
 * Fonts
 */

/*
 * Navigation
 */

/*
 * Body
 */

 body {
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   color: white;
   background-color: #EFECE4;
   font-size: 2.5rem;
   line-height: 1.3;

    @media (min-width: 768px) {
      font-size: 4rem;
      line-height: 1.25;
    }
 }

 .container-fluid.wrapper {
   padding: 15px;
 }

.col {
  span {
    font-family: "Times New Roman", serif;
    text-decoration: underline;
    &:hover {
      color: #F74C25;
    }
    &#company-name {
      color: #F74C25;
      text-decoration: none;
    }
  }
}

.image-text a {
  position: relative;
  color: unset;
  &:visited {
    color: unset;
  }
  &:hover {
    color: #F74C25;
    span {
      display: block;
    }
  }
  span {
    position: absolute;
    display: none;
    z-index: 99;
  }
}

#social-link {

}

/*
 * Footer
 */
