<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{% include head.html %}
<body>
  <div class="container-fluid wrapper">
    <div class="row">
      <div class="col">
        {{ content }}
      </div>
    </div>
  </div>
  <div class="mailing-list">
      <form method="POST" action="#">
          <div class="email-input">
              <div>Enter your email</div>
              <input type="text" name="email" placeholder="Here">
          </div>
          <div class="actions">
              <input type="submit" class="btn">
              <a href="#" id="dismiss" class="btn">Close</a>
          </div>
      </form>
  </div>
</body>
</html>
