<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{% include head.html %}
<body>
  <div class="container-fluid wrapper">
    <div class="row">
      <div class="col">
        {{ content }}
      </div>
    </div>
  </div>
  <div class="mailing-list">
    <form action="https://taregrocery.us20.list-manage.com/subscribe/post?u=adc24f94c5a17908ee1ae1b44&amp;id=6282e1fcbc" 
      method="post" 
      id="mc-embedded-subscribe-form" 
      name="mc-embedded-subscribe-form" 
      class="validate" 
      target="_blank" 
      novalidate>
      <div class="email-input">
        <label for="mce-EMAIL">Enter your email</label>
        <input type="email" 
          value="" 
          placeholder="Here" 
          name="EMAIL" 
          class="required email" 
          id="mce-EMAIL">
      </div>
      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>    
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_adc24f94c5a17908ee1ae1b44_6282e1fcbc" tabindex="-1" value="">
      </div>
      <div class="actions">
        <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn">
        <a href="#" id="dismiss" class="btn">Close</a>
      </div>
    </form>
  </div>
</body>
</html>
