---
layout: default
---
<span id="company-name">tare</span> is a
{% include image-text.html text="package-free" img="https://placekitten.com/580/724" alt="" %}
grocery store designed to help solve the monumental problem of
{% include image-text.html text="single-use" img="https://placekitten.com/531/663" alt="" %}
 plastic. We’re on a mission to make
sustainable shopping the new normal. Opening soon in
{% include image-text.html text="Highland Park, Los Angeles." img="https://placekitten.com/607/405" alt="" %}
Stay
<span id="form">updated</span>, send us an email or follow us
<span id="social-links">@taregrocery</span>
