---
layout: default
---
{% include hover-image.html 
    img="https://freight.cargo.site/t/original/i/13ab7407daae7d1ec8c715dadcf0a17062303fb875a0297b1bb5af66e11e2b22/bag-tiny.png" 
    id="bag" 
    alt="" %}
{% include hover-image.html 
    img="https://freight.cargo.site/t/original/i/efb918cc87e9b4d0f897acae84f01fbbd718154aac977494b5be3f6d1d8ab138/waste-tiny.png" 
    id="waste" 
    alt="" %}
{% include hover-image.html 
    img="https://freight.cargo.site/t/original/i/be6deda017e398095e9d3fcd7db3321917ef019c7187fd17b27a86ed987257c7/hood-tiny.png" 
    id="hood" 
    alt="" %}
<span id="company-name" class="highlighted">tare</span> is a
{% include image-text.html text="plastic-free" image-id="bag" %}
grocery store on a mission to make sustainability the new standard. Opening soon in
{% include image-text.html text="Highland Park, Los Angeles." image-id="hood" %}
Stay <a href="#" id="signUp">updated</a>, send us an <a href="mailto:hello@taregrocery.com">email</a> 
or follow us <a href="https://www.instagram.com/taregrocery/">@taregrocery</a>
